body { margin: 0; font-family: 'Arial', sans-serif; background-color: #60006a; color: #fff; height: 100vh; overflow-x: hidden }

#root > div { background-color: #60006a }

.card { border-radius: 1rem; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); overflow: hidden; transition: transform 0.3s, box-shadow 0.3s }
.card-container { display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); gap: 1.5rem; padding: 2rem }
.card:hover { transform: scale(1.05); box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4) }
.card h3 { font-size: 1.2rem; margin: 1rem; color: #FFD700 }
.card img { width: 100%; height: auto; border-bottom: 3px solid #FFD700 }
.card p { font-size: 0.9rem; color: #E0E0E0; margin: 0 1rem 1rem }

.carousel { display: flex; overflow-x: auto; scroll-snap-type: x mandatory; gap: 10px; padding: 10px }
.carousel::-webkit-scrollbar { display: none }
.carousel > * { scroll-snap-align: start; flex: 0 0 auto }

header { display: flex; align-items: center; justify-content: space-between; padding: 1rem 2rem; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) }
header h1 { font-size: 2rem; color: #FFD700; margin-left: 1rem }
header img { height: 80px }
header nav { display: flex; gap: 1.5rem }
header nav a { text-decoration: none; color: #FFD700; font-weight: bold; transition: color 0.3s }
header nav a:hover { color: #FFA500 }
li > a { font-size: 24px; color: #FFD700!important; padding: 1rem }
.menuToggleBtn { display: none; color: white; font-size: 24px; position: absolute; right: 20px; top: 57px; cursor: pointer }
.nav-menu { list-style: none; display: flex; }
.nav-menu li:hover { cursor: pointer; background: #44a8f4; border-radius: 4px }
.nav-menu-list { text-decoration: none; color: white; display: block; padding: 10px 10px }

.hero { text-align: center; padding: 4rem 2rem; background: linear-gradient(to bottom, #D4A017, #000); border-radius: 1rem; margin: 2rem; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3) }
.hero button { margin-top: 2rem; background-color: #FFD700; padding: 1rem 2rem; border: none; border-radius: 1rem; font-size: 1rem; font-weight: bold; cursor: pointer; transition: background-color 0.3s }
.hero button:hover { background-color: #FFA500 }
.hero h1 { font-size: 3rem; color: #FFD700 }
.hero h2 { font-size: 1.5rem; color: #E0E0E0; margin-top: 1rem }
  
@media screen and (max-width: 768px) {
    header { flex-direction: column; align-items: flex-start }
    .menuToggleBtn { display: block }
    .nav-menu { display: none; flex-direction: column; align-items: center; width: 100%; margin-top: 5px }
    .nav-menu.open { display: block }
}